<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aamir Khan</title>
</head>
<body>
    
    <%- include('header', { title: 'INDIAN STARS' }) %>
    <h1>Aamir Khan</h1>
    <p>Aamir Khan, known as the "Perfectionist" of Bollywood, is a highly acclaimed actor, director, and producer. He is celebrated for his selective approach to roles and dedication to his craft, often undergoing significant physical transformations for his characters. Khan's films often tackle socially relevant issues, earning him widespread praise and critical acclaim. With his meticulous attention to detail, Aamir Khan has carved a niche for himself as one of the most influential figures in Indian cinema..</p>
</body>
</html>
