<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amitabh Bachchan</title>
</head>
<body>
 
    <%- include('header', { title: 'INDIAN STARS' }) %>
    <h1>Amitabh Bachchan</h1>
    <p>Amitabh Bachchan is often hailed as the "Shahenshah" (Emperor) of Bollywood, having left an indelible mark on Indian cinema with his memorable performances. Beyond his acting career, he is also recognized for his philanthropy and hosting the popular television show "Kaun Banega Crorepati".</p>
</body>
</html>
