
<!DOCTYPE html>
<html>
<head>
    <title>Stars</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
            background-color: #dcb9b9;
            color: #333;
        }
        .navbar-custom {
            background-color: #cada7d; 
        }
        .navbar-custom .navbar-brand, .navbar-custom .navbar-nav .nav-link {
            color: #ffffff; 
        }
        .navbar-custom .nav-link {
            margin-right: 15px;
        }
        .navbar-custom .nav-link:hover {
            color: #edf103; 
        }
        h1 {
            font-family: 'Arial', sans-serif;
            color: #354108;
            text-align: center;
        }
        p {
            font-size: 18px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: #444;
            text-align: justify;
        }
        p:hover {
            color: #abe827;
            transition: color 0.5s ease-in-out;
        }
        .bi-heart-fill:hover {
            transform: scale(1.2);
            transition: transform 0.2s ease-in-out;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="#">INDIAN STARS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="btn btn-primary" href="/">Home</a>
            <a class="btn btn-primary" href="/amitabh-bachchan">Amitabh Bachchan</a>
            <a class="btn btn-primary" href="/shah-rukh-khan">Shah Rukh Khan</a>
            <a class="btn btn-primary" href="/aamir-khan">Aamir Khan</a>
            <a class="btn btn-primary" href="/ranbir-kapoor">Ranbir Kapoor</a>
        </div>
    </div>
</nav>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>