<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('header', { title: 'Home' }) %>
    <h1><%= title %></h1>
   <center><p>Welcome to <%= title %></p>
    <img src="/images/th.jpg" alt="Description of image"></center> 
  </body>
</html>
