<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <%- include('header', { title: 'INDIAN STARS' }) %>
</head>
<body>
    
    <h1>Ranbir Kapoor</h1>
    <p>Ranbir Kapoor, scion of the famed Kapoor dynasty, is a versatile actor known for his charismatic performances. He has showcased his talent across various genres, from romantic dramas to intense character-driven roles. Kapoor's ability to immerse himself into diverse characters has earned him both critical acclaim and commercial success. With his youthful charm and acting prowess, Ranbir Kapoor continues to captivate audiences and remains a prominent figure in the Indian film industry.8.</p>
</body>
</html>
