<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shah Rukh Khan</title>
</head>
<body>
    <%- include('header', { title: 'INDIAN STARS' }) %>
    <h1>Shah Rukh Khan</h1>
    <p>Shah Rukh Khan, often referred to as the "King of Bollywood," is one of the most recognizable and influential actors in Indian cinema. With his charming demeanor and dynamic acting skills, he has won the hearts of millions worldwide. Khan has delivered numerous blockbuster hits and is celebrated for his romantic portrayals in films. Beyond acting, he is also a successful film producer and the co-owner of the Indian Premier League cricket team Kolkata Knight Riders.</p>
</body>
</html>
